:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 236, 247);
}

.text {
    font-size: 22px;
    font-weight: 600;
}